*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container{
    padding: 10px 10%;
} 

nav{
    display: flex;
    align-items: center;
    justify-content: space space-between;
    flex-wrap: wrap;
}

.logo{
 width:140px;
}

nav ul li{
    display:inline-block;
    list-style:none ;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height:3px;
    background: rgb(0, 255, 51);
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.1s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top:20%;
    font-size: 30px;
}

#about{
    padding: 80px 0;
}

.row{
    display:flex;
    justify-content:space-between;
}

.col1{
    flex-basis: 35%;
}

.col1 img{
    width:100%;
    border-radius: 15px;
}

.col2{
 flex-basis: 60%;
}

.para{
    color:orange;
}

.tabtitles{
    display: flex;
    margin: 20px 0 40px;
}

.tablinks{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after{
    content: '';
    width: 0;
    height:3px;
    background: rgb(0, 255, 51);
    position: absolute;
    left:0;
    bottom:-6px;
    transition: 0.1s;
}

.tablinks:hover::after{
    width: 100%;
}


