h1 {text-align: center;} 
   p2{
    color:gray;
   } 
   k2{
    color:wheat;
   }
   img {
        display: block;
        margin-left: auto;
        margin-right: auto;
   }
button {
    color :rgb(250, 76, 18);

}